.channel {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 10px;
}

.channel:hover {
  background-color: #25252c;
}

.channel__details {
  display: flex;
  align-items: center;
}

.channel > div > img {
  object-fit: contain;
  margin-right: 5px;
  width: 40px;
  border-radius: 50%;
}

@media screen and (max-width: 1170px) {
  .channel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .channel__details {
    display: block;
    text-align: center;
  }
}
